@import "tailwindcss";

@theme{
  --breakpoint-2xl:1200px;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #000;
    overflow-x: hidden;
  }

  button{
    cursor: pointer;
  }

  
  * {
    --sb-track-color: #232E33;
    --sb-thumb-color: #fdfffe;
    --sb-size: 4px;
  }
  
  *::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  *::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }
  

  